
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    color: #ffffff;
}
.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #191a1b;
}
.content {
    width: 80%;
    height: 100vh;
    background-color: #000000;
}
.item:hover {
    background-color: #1e1f20;
}
.item {
    cursor: pointer;
    padding-left: 10px;
}
span {
    margin-left: 10px;
}
.item:active {
    background-color: #1e1f20;
}
.section {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #191a1b;
}
h2 {
    cursor: pointer;
}