#search {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}