#search {
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#results {
    width: 80%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.result {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result img {
    justify-self: right;
    margin-right: 10px;
}